.content-area {
  height: 100%;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 28px;
  color: var(--purple);
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.certificate-card {
  background: var(--bg-card-dark);
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.certificate-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.badge {
  color: #fff;
  border:solid 1px var(--purple);
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 12px;
  width: fit-content;
  margin-bottom: 15px;
}

.certificate-card h2 {
  font-size: 20px;
  margin: 0 0 10px;
  color:var(--white);
}

.certificate-card p {
  margin: 6px 0;
  font-size: 14px;
  color:var(--white);
}

.certificate-card strong {
  color: var(--purple);
}

.card-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.date {
  font-size: 13px;
  color: #6b7280;
}

.btn {
  background: var(--purple);
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background: #374151;
}
