.container {
 width: 100%;
 height: 100%;
}

h2 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 10px;
  color: var(--purple);
}

.subtitle {
  text-align: center;
  margin-bottom: 50px;
  color: #94a3b8;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: var(--bg-card-dark);
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 20px;
}

.project-content h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--white);
}

.project-content p {
  font-size: 0.95rem;
  color: #cbd5f5;
  margin-bottom: 12px;
}

/* ===== TAGS DE TECNOLOGIAS ===== */
.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 18px;
}

.tech-tag {
  color: var(--purple);
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 0.75rem;
  border: 1px solid var(--purple);
  transition: background 0.3s, color 0.3s;
}

.tech-tag:hover {
  background:var(--purple);
  color: #fff;
}

.project-links {
  display: flex;
  gap: 10px;
}

.project-links a {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background:var(--purple);
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
 transition: all 0.3s ease; 
}

.project-links a:hover {
  border-color: transparent;
  box-shadow: 0 0 20px var(--purple);
  transform: translateY(-5px) scale(1.08);
}
