@import "../../../styles.css";

.container-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 30px;
  gap: 30px;
  background: var(--bg-dark) url("https://www.transparenttextures.com/patterns/stardust.png");
  background-size: contain;
}

.content {
  border-radius: 25px;
  background-color: #0F0B1A;
  border-right: 1px solid rgba(139, 92, 246, 0.15);
  overflow-x: hidden;
  padding: 3rem;
  border: 1px solid #ffffff1a;
  box-shadow:
  0 8px 30px rgba(0, 0, 0, 0.55),   
  0 0 25px rgba(139, 92, 246, 0.20);
}

.content::-webkit-scrollbar {
  display: none;
}