@import "../../../styles.css";

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background: var(--bg-dark) url("https://www.transparenttextures.com/patterns/stardust.png");
  background-size: contain;
}


.content {
  width: 100%;
  margin-left: 30px;
  border-radius: 25px;
  background-color: #0F0B1A;
  border-right: 1px solid rgba(139, 92, 246, 0.15);
  height: 100%;
  left: 405px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3rem;
  border: 1px solid #ffffff1a;
  box-shadow:
  0 8px 30px rgba(0, 0, 0, 0.55),   /* sombra forte pra destacar */
  0 0 25px rgba(139, 92, 246, 0.20); /* glow ambiente */

}

.content::-webkit-scrollbar {
  display: none;
}
