@import "../../../styles.css";

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: var(--bg-dark);
}

.content {
  width: 100%;
  margin-left: 10px;
  border-radius: 10px;
  /* background-color: var(--bg-card-dark); */
  height: 100%;
  left: 405px;
}
