<header>
  <h1>Meus Certificados</h1>
</header>

<section class="cards-section">
  <div class="certificate-card">
    <span class="badge">Certificado</span>
    <h2>Gestão Financeira para Pizzarias</h2>
    <p><strong>Aluno:</strong> Gabriel Reis</p>
    <p><strong>Carga horária:</strong> 20 horas</p>

    <div class="card-footer">
      <span class="date">19/12/2025</span>
      <button class="btn">Ver certificado</button>
    </div>
  </div>

  <div class="certificate-card">
    <span class="badge">Certificado</span>
    <h2>Controle de Caixa e Fluxo Financeiro</h2>
    <p><strong>Aluno:</strong> Gabriel Reis</p>
    <p><strong>Carga horária:</strong> 12 horas</p>

    <div class="card-footer">
      <span class="date">10/11/2025</span>
      <button class="btn">Ver certificado</button>
    </div>
  </div>

  <div class="certificate-card">
    <span class="badge">Certificado</span>
    <h2>Atendimento e Fidelização de Clientes</h2>
    <p><strong>Aluno:</strong> Gabriel Reis</p>
    <p><strong>Carga horária:</strong> 8 horas</p>

    <div class="card-footer">
      <span class="date">02/10/2025</span>
      <button class="btn">Ver certificado</button>
    </div>
  </div>
</section>
